

<br>
<h2 class="" > Product Size</h2> <br>
<form #sizeForm="ngForm" (ngSubmit)="saveSize(sizeForm)">
    <div class="row">
        <div class="col-md-6">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Size Name" aria-label="Size Name" name="name" [(ngModel)]="sizeFormModel.name" required>
                <div class="input-group-append">
                    <button class="btn btn-outline-success" type="submit">Save Size</button>
                </div>
            </div>
        </div>
    </div>
</form>




<table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Size</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let size of data">
        <th scope="row">{{size.id}}</th>
        <td>{{size.name}}</td>
        <td><button class="btn btn-primary btn-sm" (click)="editSize(size)">Edit</button></td>

      </tr>
    </tbody>
</table>

  